<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/Pagina1.css">
  <title>Listado Mejores Oradores</title>
</head>
<body>

  <div class="cabecera">
    <a href="https://blogsaverroes.juntadeandalucia.es/iestorrredelosguzmanes/"><img src="/img/rfxDXq01 (1).svg" alt="Logo"></a>
    <h1>Torneo Debate</h1>
    <a href="/app/index"><button>Inicio</button></a>
  </div>

  <div class="caja">Listado Mejores Oradores</div>

  <table>
    <tr>
      <th>Alumnos</th>
      <th>Puntuación</th>
    </tr>
    <!-- Solo los 5 primeros -->
    <tr th:each="orador, iterStat : ${oradores}" th:if="${iterStat.index < 5}">
      <
